*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #0f0f10;
    font-family: "Courier New", Courier, monospace;
}

/* 
$white: #ffffff;
$darkWhite: #f6f8f9;
$black: #0f0f10;
$blue: #101321;
$lightblue: #2980b9; 
*/

header {
    width: 100vw;
    height: 75px;
    background-color: #0f0f10;
}

footer {
    margin-top: 100px;
    width: 100vw;
    height: 75px;
    background-color: #0f0f10;
}

body {
    width: 100vw;
    height: auto;
    background-color: #f6f8f9;
    overflow-x: hidden;
}

#welcome-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

#total-stats-container,
#monthly-stats-container {
    margin: 0px 10%;
}

#lifetime-chats-container > div,
#monthly-chats-container > div {
    box-shadow: 0px 1px 2px 0px rgb(209 209 209 / 50%);
}

#total-stats-container #total-messages,
#monthly-stats-container #monthly-messages {
    text-align: center;
    font-size: 1.25rem;
    background-color: #ffffff;
    padding: 10px 0px;
    width: 100%;
}

#lifetime-chats-container,
#monthly-chats-container {
    margin: 20px 0px;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    height: 50vh;
    overflow: hidden;
    border-radius: 10px;
}

#lifetime-chats-container h3,
#monthly-chats-container h3 {
    padding: 10px;
    background-color: #0f0f10;
    color: #f6f8f9;
    font-size: 1.25rem;
}

#top-lifetime-chatters,
#top-lifetime-online-chatters,
#top-lifetime-offline-chatters,
#top-monthly-chatters,
#top-monthly-online-chatters,
#top-monthly-offline-chatters {
    gap: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
}

#top-lifetime-chatters-container div,
#top-lifetime-online-chatters-container div,
#top-lifetime-offline-chatters-container div,
#top-monthly-chatters-container div,
#top-monthly-online-chatters-container div,
#top-monthly-offline-chatters-container div {
    width: 100%;
    display: grid;
    grid-template-columns: 0.5fr 4fr 1.5fr;
}

#top-lifetime-chatters-container p:first-child {
    background-color: #2980b9;
    width: 50px;
    text-align: center;
}
#top-lifetime-online-chatters-container p:first-child {
    background: #c09acb;
    width: 50px;
    text-align: center;
}
#top-lifetime-offline-chatters-container p:first-child {
    background: #90ee90;
    width: 50px;
    text-align: center;
}
#top-monthly-chatters-container p:first-child {
    background-color: #fffdc4;
    width: 50px;
    text-align: center;
}
#top-monthly-online-chatters-container p:first-child {
    background: #fe9aa3;
    width: 50px;
    text-align: center;
}
#top-monthly-offline-chatters-container p:first-child {
    background: #75ffff;
    width: 50px;
    text-align: center;
}

#lifetime-chats-container p,
#monthly-chats-container p {
    padding: 10px;
    border-top: 1px rgb(209 209 209 / 50%) solid;
}

#lifetime-chats-container p:first-child,
#monthly-chats-container p:first-child {
    border: none;
    margin-right: 10px;
}

#lifetime-chats-container p:last-child,
#monthly-chats-container p:last-child {
    text-align: right;
    padding-right: 20px;
}

/* LOADING */
.loading {
    background-color: red;
    width: 100%;
    height: 100%;
    border: none;
    box-shadow: none;
}
